
#content a {
    text-decoration: underline;
}

p#download a {
    border: 1px black solid;
    padding: 0.5em;
    color: #0D25D3;
}

pre {
    margin: 10px;
    padding: 0 10px;
    font-size: 14px;
}
h3 {
	padding-left: 5px;
	margin: 5px 0px 0px 0px;
}


dl {
    margin: 10px;  
}

dl.history {
    font-size: 12px;
}

dl.known-issues dt, dl.history dt {
    font-weight: bold;
}

.documentation h3 {
    margin-top: 30px; 
}

.documentation p, .documentation td, .documentation th {
    font-size: 13px;
}

.options {
    margin-left: 10px;
}

.options caption {
   text-align: left;
}

.options th {
    background-color: #ccc;
}

.options td {
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
}

